config.stopBubbling = true
#будут доб(true)/убр(false) аннотации (@ConstructorProperties(param)) над конструкторами в сгенерированных классах
lombok.anyconstructor.addconstructorproperties = false
#будут доб(true)/убр(false) аннотации (@Generated) над сгенерированными методами
lombok.addLombokGeneratedAnnotation = true
lombok.addSuppressWarnings = false
#КАК ЗАСТАВИТЬ LOMBOK КОПИРОВАТЬ @QUALIFIER В СГЕНЕРИРОВАННЫХ КОНСТРУКТОРАХ ДЛЯ КОМПОНЕНТА / СЕРВИСА SPRING
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier